/* shared styles */
*{
  font-family: "Mulish", sans-serif;
}
.shared-color{
    color: #FF5400;
}
.btn-primary{
    border-radius: 8px;
    background: #FF5400;
    padding: 12.5px 34px 14px 34px;
    border: none;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
}
.btn-primary>a{
    text-decoration: none;
    color: #FFF;
}
main{
    margin: 0px 135px;
}
/* navigation styles */
header{
    margin: 52px 135px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav>img{
    display: none;
}
.nav-title,.footer-title{
    color: #131318;
    font-size: 2.3rem;
    font-weight: 800;
}
.nav-title img{
    position: relative;
    top: 10px;
}
nav>ul{
    list-style: none;
    display: flex;
}
nav a{
    text-decoration: none;
    margin-right: 44px;
    color: #424247;
    font-weight: 400;
    font-size: 1.2rem;
}
/* explore section styles */
.explore-section{
    background-image: url('../images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    padding: 106px 185px;
    text-align: center;
}
.explore-title{
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
}
.explore-description{
    color: #FFF;
    font-size: 1rem;
    font-weight: 400;
    padding: 24px 250px 48px 250px;
}
.explore-input-section{
    padding: 16px;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    margin: 0px 160px 106px 160px;

}
.explore-input-section input{
    padding: 14.5px 40px 15.5px 16px;
    background: #FFF;
    border: none;
    margin-right: 16px;
}
.select-b{
    border-radius: 8px ;
    width: 140px;
}

.explore-input-section select{
    padding: 14px;
    border: none;
    border-radius: 0px 8px 8px 0px;
    margin-left: -2px;
    position: relative;
    top: .5px;
    right: 16px;
}
.select-a{
    border-radius: 8px 0px 0px 8px;
    width: 110px;
}
/* popular-tours style */
.popular-tours{
    display: flex;
    margin: 120px 0px;
    gap: 124px;
}
.popular-tours-description{
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 24px;
}
.popular-tours-title{
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}
.popular-tours li{
    margin-bottom: 24px;
}
/* choose destination styles */
.choose-destination-title, .why-us-title{
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.choose-destination-description{
    color: rgba(19, 19, 24, 0.70);
    margin: 0px 260px;
    font-size: 1rem;
    font-weight: 400;
}
.destination-image {
    margin: 0px 175px;
    margin-top: 80px;
}
.destination-image-one{
    display: flex;
    gap: 24px;
}
.destination-image-two{
   display: flex;
    gap: 24px;
    margin: 24px 0px;
    position: relative;
    top: -78px;
}
.destination-image-three{
    display: flex;
    gap: 24px;
    position: relative;
    top: -156px;
}
.test p{
    position: relative;
    bottom: 50%;
    text-align: center;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}

/* why-us-styles */
.why-us-description{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin: 24px 0px 48px 0px ;
}
.why-us-content{
    display: flex;
    gap: 24px;
}
.content-box{
   width: 50%;
}
.box-content-img{
    padding: 32px 32px 0px 32px;
}

.box-content-description{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    padding: 32px ;
}
.box-content-title{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    padding: 16px 0px 16px 32px;
}
.box-one{ 
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}
.box-two{
    border-radius: 16px;
border: 1px solid rgba(41, 206, 246, 0.20);
background: rgba(41, 206, 246, 0.05);
}
.box-three{
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    margin: 24px 0px 80px 400px;
}
/* video-section-styles */
.video-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}
.video-section-title{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}
.video-section-description{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
}
.video-section-content li{
    margin-bottom: 24px;
}
.video-section-content{
    width: 50%;
}
.video-section-video iframe{
    border-radius: 16px;
}
.btn-padding{
    padding: 14px 42px;
}
/* newsletter styles */
.newsletter-section{
    display: flex;
    justify-content: space-between;
}
.newsletter-content{
    border-radius: 16px;
    border: 1px solid #FF5400;
}
.newsletter-title{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    padding: 20px 40px ;
}
.newsletter-description{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    margin:0px 68px 0px 40px ;
    border-bottom: 1px solid #5a5a5d3b;
    padding-bottom: 24px;
}
.newsletter-content input{
    padding: 16px 20px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: none;
    width: 80%;
    margin: 25px 0px 0px 40px;
}
.subscribe-button{
    width: 85.5%;
    margin: 20px 40px ;
    font-size: 20px;
}
.special-button{
    border-radius: 16px;
    background: #FF5400;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    position: absolute;
    right: 20px;
    bottom: 60px;
    transform: rotate(-30deg);
    }
.newsletter-image{
    position: relative;
}
.button-line-two{
    margin-top: -15px;
    font-size: 32px;
    font-weight: 800;
    padding: 0px 10px;
}
footer{
    background: rgba(19, 19, 24, 0.05);
}
.footer-title{
        display: flex;
        align-items: center;
        padding: 110px 600px 0px 680px;
}
.footer-description{
    color: #5A5A5D;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding: 0px 385px;
}
.footer-icon{
    text-align: center;
    margin: 24px 0px;
}
.footer-icon i{
    margin-right: 24px;
} 
footer hr{
    width: 80%;
}
.footer-finish{
    text-align: center;
    color: #131318;
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 110px;
}
.explore-card{
    border: 1px solid gray;
    background: #FFF;
    box-shadow: #5A5A5D 20px;
    height: 150px ;
    width: 150px;
    padding: 20px;
    margin-bottom: 24px;
}
.explore-card-section{
    display: flex;
    gap: 24px;
    text-align: center;
    justify-content: space-around;
}
.explore-section-info{
    text-align: center;
}
.explore-info-title{
    font-size: 48px;
    font-weight: 800;
}
.explore-info-description{
    font-size: 28px;
    color: #5A5A5D;
    font-weight: 400px;
}
.discount-card-top{
    color: #5A5A5D;
font-size: 16px;
font-weight: 400;
display: flex;
align-items: center;
flex-wrap: nowrap;
}
.discount-card-top img{
    margin-right: 15px;
    margin-left: 15px;
}
.discount-card-title{
    color: #131318;
font-size: 24px;
font-weight: 800;
}
.discount-card-description{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
}
.discount-card-price{
    color: #FF5400;
font-size: 20px;
font-weight: 800;
}
.discount-section-one{
    background-image: url('../images/Group\ 39.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 24px;
}
.discount-box-one{
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    padding: 50px;
    margin: 56px 24px 72px 865px;
}
.discount-section-two{
    background-image: url('../images/Group\ 40.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 24px;
}
.discount-box-two{
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    padding: 50px;
    margin: 56px 865px 72px 24px;
}
.discount-section-three{
    background-image: url('../images/Group\ 39.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 24px;
}
.discount-box-three{
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    padding: 50px;
    margin: 56px 24px 72px 865px;
}
.see-all{
    text-align: center;
    margin: 0px 600px;
    margin-bottom: 72px;
}
.discount-section-title{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}
.discount-section-description{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
}
.footer-title span{
    margin:  0px 10px;
}
@media screen and (max-width:600px) {
    header,.explore-input-section,main{
        margin: 20px;
    }
    nav>ul{
        display: none;
    }
    nav>img{
        display: block;
        width: 35px;
        position: relative;
        top: 8px;
    }
    .explore-section{
        padding: 32px;
        background-size: cover;
        background-position: center;
    }
    .explore-title{
        font-size: 2rem;
    }
    .explore-description{
        padding: 16px;
    }
    .select-b{
        width: 300px;
        margin-bottom: 20px;
    }
    .select-a{
        width: 250px;
        margin-bottom: 20px;
    }
    .btn-width{
        width: 350px;
    }
    .popular-tours,.newsletter-section{
        flex-direction: column;
        gap: 24px;
        margin: 24px 0px;
    }
    .destination-image-one,.destination-image-two,.destination-image-three{
        flex-direction: column;
        gap: 0px;
        margin: 0px;
        position: relative;
        top: 0px;
    }
    .destination-image{
        margin: 20px 20px;
    }
    .destination-image img{
        width: 100%;
    }
    .choose-destination-description{
        margin: 0 20px;
        text-align: center;
    }
    .test p{
        position: relative;
        bottom: 180px;
    }
    .why-us-content{
        flex-direction: column;
    }
    .content-box,.video-section-content,.newsletter-image img{
        width: 100%;
    }
    .box-three{
        margin: 24px 0px 24px 0px;
    }
    .video-section{
        flex-direction: column;
        gap: 24px;
        margin-bottom: 24px;
    }
    .footer-title{
        padding: 20px 30px 0px 60px;
    }
    .footer-description{
        padding: 0px 20px ;
    }
    .explore-card-section{
        flex-wrap: wrap;
    }
    .discount-box-one,.discount-box-two,.discount-box-three,.see-all{
        margin: 24px;
    }
}